@{
    ViewData["Title"] = "Home Page";
}

<section class="slick-slideshow">
    <div class="slick-custom">
        <img src="~/images/slideshow/h1.jpg" class="img-fluid" alt="">
        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">KhumaloCraft</h1>


                        <a href="/About/About" class="btn custom-btn">Learn more about us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slick-custom">
        <img src="~/images/slideshow/h2.jpg" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Handmade Artistry</h1>



                        <a href="/MyWork/MyWork" class="btn custom-btn">Explore products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="slick-custom">
        <img src="~/images/my-work-header.jpg" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Talk to Us</h1>



                        <a href="/Contact/Contact" class="btn custom-btn">Work with Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="about section-padding">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="mb-5">Get started with <span>KhumaloCraft</span> Emporium</h2>
            </div>

            <div class="col-lg-2 col-12 mt-auto mb-auto">
                <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Introduction</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-youtube-tab" data-bs-toggle="pill" data-bs-target="#pills-youtube" type="button" role="tab" aria-controls="pills-youtube" aria-selected="true">How we work?</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-skill-tab" data-bs-toggle="pill" data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill" aria-selected="false">Capabilites</button>
                    </li>
                </ul>
            </div>

            <div class="col-lg-10 col-12">
                <div class="tab-content mt-2" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <img src="~/images/pim-chu-z6NZ76_UTDI-unsplash.jpg" class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-5 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Introducing <span>Khumalo</span> <br>Craft <span>Emporium</span></h4>

                                    <p>
                                 
                                        Explore the rich tapestry of African artistry with KhumaloCraft. 
                                        Our curated collection features handmade treasures from talented artisans across Africa, blending tradition with contemporary flair.
                                    </p>

                                    <p>Each piece tells a story of cultural richness and creative expression, celebrating the essence of African craftsmanship.
                                        Welcome to KhumaloCraft, where every creation embodies the enduring spirit of Africa.</p>

                                    <div class="mt-2 mt-lg-auto">
                                        <a href="/About/About" class="custom-link mb-2">
                                            Learn more about us
                                            <i class="bi-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="ratio ratio-16x9">
                                    <iframe src="https://www.youtube.com/embed/6tWXSEOhVwU?si=n7hlFKYTQSSwqZHZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="col-lg-5 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Life at KhumaloCraft</h4>

                                    <p>KhumaloCraft connects you directly with talented artisans across Africa and thr globe, offering a curated selection of handmade art pieces.
                                        Through fair trade practices, we empower artisans economically while preserving traditional techniques. </p>

                                    <p>Your purchase not only celebrates African artistry 
                                        but also supports the livelihoods of these skilled individuals.</p>

                                    <div class="mt-2 mt-lg-auto">
                                        <a href="/Contact/Contact" class="custom-link mb-2">
                                            Work with us
                                            <i class="bi-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <img src="~/images/header/positive-european-woman-has-break-after-work.png" class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-5 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Our Success</h4>

                                    <p>
                                        KhumaloCraft specializes in showcasing the diverse talents of African and global artisans through a curated selection of handmade treasures.
                                    </p>

                                    <div class="skill-thumb mt-3">

                                        <strong>Artisan Collaboration</strong>
                                        <span class="float-end">90%</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                        </div>

                                        <strong>Product Diversity</strong>
                                        <span class="float-end">85%</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                        </div>

                                        <strong>Customer Satisfaction</strong>
                                        <span class="float-end">97%</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                        </div>

                                    </div>

                                    <div class="mt-2 mt-lg-auto">
                                        <a href="/MyWork/MyWork" class="custom-link mb-2">
                                            Explore products
                                            <i class="bi-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="front-product">
    <div class="container-fluid p-0">
        <div class="row align-items-center">

            <div class="col-lg-6 col-12">
                <img src="~/images/retail-shop-owner-mask-social-distancing-shopping.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 col-12">
                <div class="px-5 py-5 py-lg-0">

                    <h2 class="mb-4"><span>KhumaloCraft's</span> Mission</h2>

                    <p>

                        KhumaloCraft remains steadfast in its mission to establish itself as a global e-commerce platform showcasing handcrafted products while simultaneously fostering positive change within communities.
                        Through monthly events, KhumaloCraft actively seeks out artisans in rural areas, providing them with invaluable opportunities to showcase their talents on its platform.                      
                    </p>
                    <p>
                        Beyond mere exposure, KhumaloCraft goes the extra mile by donating a portion of the earnings from each art piece directly back to the artist and their community.
                        This initiative not only supports the individual artisans but also uplifts entire communities, creating a ripple effect of empowerment and prosperity.                    
                    </p>
                    <p>                     
                        By staying true to its goal of connecting artisans worldwide with a discerning audience, KhumaloCraft exemplifies how commerce can be a force for meaningful social impact, enriching lives while celebrating the beauty of handmade craftsmanship.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="featured-product section-padding">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="mb-5">Featured Products</h2>
            </div>

           

            <div class="col-lg-4 col-12 mb-3">
                <div class="product-thumb">
                    <a href="/MyWork/MyWork">
                        <img src="~/images/product/p3.png" class="img-fluid product-image" alt="">
                    </a>

                    <div class="product-top d-flex">
                        <span class="product-alert">Low Price</span>

                       
                    </div>

                    <div class="product-info d-flex">
                        <div>
                            <h5 class="product-title mb-0">
                                <a href="/MyWork/MyWork" class="product-title-link">Rhino Sculpture</a>
                            </h5>

                            <p class="product-p">A stunning rhino sculpture meticulously painted by hand, capturing the essence of African wildlife.</p>
                        </div>

                        <small class="product-price text-muted ms-auto mt-auto mb-5">R150.00</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 mb-3">
                <div class="product-thumb">
                    <a href="/MyWork/MyWork">
                        <img src="~/images/product/p2.png" class="img-fluid product-image" alt="">
                    </a>

                    <div class="product-top d-flex">
                        <span class="product-alert me-auto">New Arrival</span>

                       
                    </div>

                    <div class="product-info d-flex">
                        <div>
                            <h5 class="product-title mb-0">
                                <a href="/MyWork/MyWork" class="product-title-link">Woven Wall Basket</a>
                            </h5>

                            <p class="product-p">A collection of intricately woven baskets that can be displayed on your wall, adding a touch of African craftsmanship.</p>
                        </div>

                        <small class="product-price text-muted ms-auto mt-auto mb-5">R189.99</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12">
                <div class="product-thumb">
                    <a href="/MyWork/MyWork">
                        <img src="~/images/product/nature-zen-3Dn1BZZv3m8-unsplash.jpg" class="img-fluid product-image" alt="">
                    </a>

                    <div class="product-top d-flex">
                       
                    </div>

                    <div class="product-info d-flex">
                        <div>
                            <h5 class="product-title mb-0">
                                <a href="/MyWork/MyWork" class="product-title-link">Tree Wall Art</a>
                            </h5>

                            <p class="product-p">Crafted from aluminum, this tree wall art piece is skillfully painted, bringing nature indoors</p>
                        </div>

                        <small class="product-price text-muted ms-auto mt-auto mb-5">R250.00</small>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <a href="/MyWork/MyWork" class="view-all">View All Products</a>
            </div>

        </div>
    </div>
</section>
<!--All images depicted within all PAGES are adapted from Pinterest-
(https://za.pinterest.com/) -->
<!--All PAGES are edited but layout depicted from Tooplate Template-
(https://www.tooplate.com/) 

How to Weave Handmade Baskets - 
Macy's Rwanda Path to Peace. 2015. 
YouTube video, added by My Cherry Pie. 
[Online]. Available at: https://youtu.be/6tWXSEOhVwU?si=eD25kgB7mfAX0RXv. [Accessed 23 March 2024].-->
