@{
    ViewData["Title"] = "About Us";
}
<<section class="slick-slideshow">
    <div class="slick-custom">
        <img src="~/images/slideshow/h1.jpg" class="img-fluid" alt="">
        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title text-primary">Learn</h1>
                        <h1 class="slick-title white-text">About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slick-custom">
        <img src="~/images/slideshow/h1.jpg" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <h1 class="slick-title text-primary">Our</h1>
                    <h1 class="slick-title white-text">Story</h1>
                    <p class="white-text bold-text larger-text text-center">
                        KhumaloCraft is more than just a brand; it's a living testament to the legacy of African craftsmanship
                    </p>
                    <p class="white-text bold-text larger-text text-center">
                        , passed down through generations with love and reverence.
                    </p>
                    <p class="white-text bold-text larger-text text-center">
                        Founded by James Khumalo, our journey began with a profound sense of responsibility –
                    </p>
                    <p class="white-text bold-text larger-text text-center">
                        a commitment to honor the time-honored traditions of our ancestors while igniting a new flame of creativity and opportunity.
                    </p>
                    <p class="white-text bold-text larger-text text-center">
                        At KhumaloCraft, we stand as guardians of a priceless heritage, striving to preserve
                    </p>
                    <p class="white-text bold-text larger-text text-center">
                        and promote the unparalleled artistry of African artisans.
                    </p>
                    <p class="white-text bold-text larger-text text-center">
                        Through meticulous craftsmanship and unwavering dedication, we breathe life into each creation,
                    </p>
                    <p class="white-text bold-text larger-text text-center">
                          weaving together threads of tradition and innovation.
                    </p>


                </div>
            </div>
        </div>
    </div>

</section>
<style>

    .black-text {
        color: black;
    }

    .white-text {
        color: white;
    }

    .bold-text {
        font-weight: bold;
    }

    .larger-text {
        font-size: 1.1rem; /* Adjust the size as needed */
    }

    .text-center {
        text-align: center;
    }
</style>
<section class="team section-padding">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <h2 class="mb-5">Meet our <span>team</span></h2>
            </div>

            <div class="col-lg-4 mb-4 col-12">
                <div class="team-thumb d-flex align-items-center">
                    <img src="~/images/people/senior-man-wearing-white-face-mask-covid-19-campaign-with-design-space.jpg" class="img-fluid custom-circle-image team-image me-4" alt="">

                    <div class="team-info">
                        <h5 class="mb-0">James Khumalo</h5>
                        <strong class="text-muted">Founder</strong>
                        <p>
                            Introducing James Khumalo, a visionary entrepreneur with a deep reverence for African culture, 
                            established KhumaloCraft with a mission to 
                            bridge the gap between traditional craftsmanship and the modern world.
                        </p>
                       

                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4 col-12">
                <div class="team-thumb d-flex align-items-center">
                    <img src="~/images/people/portrait-british-woman.jpg" class="img-fluid custom-circle-image team-image me-4" alt="">

                    <div class="team-info">
                        <h5 class="mb-0">Kelly Prichett</h5>
                        <strong class="text-muted">Marketing</strong>
                        <p>
                            Introducing Kelly Prichett, the Marketing Manager at KhumaloCraft, 
                            a dynamic strategist with a passion for promoting the 
                            diverse world of handcrafted items to a global audience.Dedicated to achieve success for KhumaloCraft.
                        </p>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                <div class="team-thumb d-flex align-items-center">
                    <img src="~/images/people/beautiful-woman-face-portrait-brown-background.jpg" class="img-fluid custom-circle-image team-image me-4" alt="">

                    <div class="team-info">
                        <h5 class="mb-0">Marie De Angelo</h5>
                        <strong class="text-muted">Product,VP</strong>
                        <p>Introducing, Marie De Angelo, the Product Vice President at KhumaloCraft, 
                            a visionary leader dedicated to curating and 
                            promoting exquisite handcrafted items from around the world.Dedicated to achieve
                            success.
                        </p>
                        
                    </div>

                </div>
                <div >
                   
                </div>
              
    </div>
        </div>
         
    </div>

</section>

<section class="testimonial section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-9 mx-auto col-11">
                <h2 class="text-center">Customer love, <br> <span>KhumaloCraft Emporium<span></h2>

                <div class="slick-testimonial">
                    <div class="slick-testimonial-caption">
                        <p class="lead">Over three years in business, We’ve had the chance to work on a variety of projects, with an amazing company</p>

                        <div class="slick-testimonial-client d-flex align-items-center mt-4">
                            <img src="~/images/people/woman-wearing-mask-face-closeup-covid-19-green-background.jpg" class="img-fluid custom-circle-image me-3" alt="">

                            <span>Anetra Paul, <strong class="text-muted">Digital Art</strong></span>
                        </div>
                    </div>

                    <div class="slick-testimonial-caption">
                        <p class="lead">High quality creations with a flare of african culture</p>

                        <div class="slick-testimonial-client d-flex align-items-center mt-4">
                            <img src="~/images/people/portrait-british-woman.jpg" class="img-fluid custom-circle-image me-3" alt="">
                            <span>Sandar Presly, <strong class="text-muted">Art Today</strong></span>
                        </div>
                    </div>

                    <div class="slick-testimonial-caption">
                        <p class="lead">KhumalaoCraft Really gets the job done with skill and expertise</p>

                        <div class="slick-testimonial-client d-flex align-items-center mt-4">
                            <img src="~/images/people/portrait-british-woman.jpg" class="img-fluid custom-circle-image me-3" alt="">

                            <span>Justeen Walker, <strong class="text-muted">HYBE Art</strong></span>
                        </div>
                    </div>

                    <div class="slick-testimonial-caption">
                        <p class="lead">Humble people with a pure passion for the work of arts they create</p>

                        <div class="slick-testimonial-client d-flex align-items-center mt-4">
                            <img src="~/images/people/woman-wearing-mask-face-closeup-covid-19-green-background.jpg" class="img-fluid custom-circle-image me-3" alt="">

                            <span>Catherine French, <strong class="text-muted">Handcraft Magazine</strong></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--All images depicted within all PAGES are adapted from Pinterest-
(https://za.pinterest.com/) -->
<!--All PAGES are edited but layout depicted from Tooplate Template-
(https://www.tooplate.com/) -->
